@model IEnumerable<BestCaseHotNews.Models.Post>

@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            </div>
    </section>
    <div id="recentHeadlines" class="display-field">
    <ul>
    @foreach (var item in Model)    
    {
         <li>  @Html.ActionLink(item.headline, "../News/Details", new { id=item.postID })</li>
    }
    </ul>
   <p> @Html.ActionLink("Create New", "../News/Create")
</p>
    </div>
}
